.App {
  text-align: center;
}

body {
  background-color: #99B898;
}

.gg-peach {
  background-color: #FF847C !important;
  color: whitesmoke !important;
}

.gg-red {
  background-color: #E84A5F !important;
  color: whitesmoke !important;
}

.gg-cream {
  background-color: #FECEA8 !important;
  color: black !important;
}

.gg-cream-o {
  border-color: #FECEA8 !important;
  color: #E84A5F !important;
}

.gg-red-c {
  color: #E84A5F !important;
}

.gg-green {
  background-color: #99B898 !important;
}

.gg-black {
  background-color: #2A363B !important;
  color: whitesmoke !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #2A363B;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
}

.App-link {
  color: #E84A5F;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.user-info {
  margin: 15px;
  padding: 10px;
  background-color: cadetblue;
  border-radius: 10px;
  place-items: center;
  width: 90%;
}

.playlist {
  background-color: transparent;
  border-radius: 10px;
  place-items: center;
  padding: 10px;
  margin: 10px;
}

.spot-tabs {

}

.spotify-font {
  font-family: Gotham-Black;
}

.spotify-font-normal {
  font-family: GothamBold;
}

.centered {
  display: flex; /* Enable flexbox for the container */
  justify-content: center; /* Horizontally center elements */
  align-items: center; /* Vertically center elements */
  text-align: center;
}

.centered-container {
  display: flex; /* Enable flexbox for the container */
  justify-content: center; /* Horizontally center elements */
  align-items: center; /* Vertically center elements */
  text-align: center;
  height: 100vh;
}

.artist:hover {
  background-color: #FF847C;
  cursor: pointer;
  border-radius: 10px;
}

.event:hover {
  background-color: #FF847C;
  cursor: pointer;
}

.telegram {
  background-color: #54a9eb;
  border-radius: 20px;
  border-color: #54a9eb;
}

.thumb-photo {
  width: 48px;
  height: 48px;
}

.wide-modal {
  max-width: 75%;
}

.report-bug-btn {
  transform: rotate(-90deg) translateY(-50%);
  position: fixed!important;
  top: 50%;
  right: -60px;
  padding: 10px 20px;
  border: 1px dashed!important;
  border-radius: 5px;
  color: whitesmoke;
  font-weight: bold;
  cursor: pointer;
  z-index: 999; /* Ensure button appears on top of other elements */
}
