.sideBar {
    position: absolute!important;
    left: 0;
    padding: 1rem;
    background-color: antiquewhite;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.burgerMenu {
    overflow-y: hidden!important;
}

.burgerBar {
    position: absolute;
    top:0;
    left:0;
}

.burgerButton {
    position: absolute;
    top: 0;
    left:0;
    width: 2rem;
    margin: 1rem;
    color: white;
}

.filterSection {
    overflow-y: auto;
    max-height: 200px;
}    

.filterSectionContainer {
    padding: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 0;
    overflow-y: hidden;
    border: 2px #FECEA8 solid;
    margin: 0.5rem;
    border-radius: 5px;
}

.filterItem {
    margin: 0!important;
    padding: 0!important;
    font-size: small;
}

.filterButton  {
    margin: 0!important;
    padding: 1px!important;
}

.filterIcon {
    min-width: 1.5rem!important;
    height: 1rem!important;
}

.subtitle {
    background-color: #ffffff00!important;
    padding: 0;
    margin: 0;
    line-height: normal!important;
}

.applyButton {
    margin: 1rem;
    width: 200px;
}

.dateFilter {
    width: 85%!important;
}

.dateSliderContainer {
    text-align: center;
    padding: 2rem;
    padding-bottom: 0;
    overflow-x: hidden;
}

.applyButtonContainer {
    text-align: center;
}

.filterSearch {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: small;
}